package pages

import (
	"github.com/terryhycheng/go-todo-list/web/partials"
	"github.com/terryhycheng/go-todo-list/internal/models"
)

templ Homepage(todos []models.TodoGorm) {
	@partials.MainLayout() {
		@partials.Header()
		@partials.CardList(todos)
	}
}
