package pages

import (
	"github.com/terryhycheng/go-todo-list/web/partials"
	"github.com/terryhycheng/go-todo-list/internal/models"
)

templ Homepage(todo *models.Todos) {
	@partials.MainLayout() {
		@partials.Header()
		@partials.CardList(todo)
	}
}
